'scopeName': 'source.brainfuck'
'fileTypes': [
  'bf'
  'brainfuck'
]
'name': 'Brainfuck'
'patterns': [
  {
    'match': '\\[|\\]'
    'name': 'keyword.brainfuck'
  }
  {
    'match': '<|>'
    'name': 'storage.brainfuck'
  }
  {
    'match': '\\+|-'
    'name': 'keyword.operator.math.brainfuck'
  }
  {
    'match': ','
    'name': 'entity.brainfuck'
  }
  {
    'match': '\\.'
    'name': 'string.brainfuck'
  }
  {
    'match': '[^+<>\\-\\[\\].,]+'
    'name': 'comment.brainfuck'
  }
]
