name: 'Brainfuck'
scopeName: 'source.brainfuck'
fileTypes: [
  'b'
  'bf'
  'brainfuck'
]
foldingStartMarker: '\\['
foldingStopMarker: '\\]'
patterns: [
  {
    match: '\\<'
    name: 'storage.pointer.left.brainfuck'
  }
  {
    match: '\\>'
    name: 'storage.pointer.right.brainfuck'
  }
  {
    match: '\\+'
    name: 'support.function.arithmetic.add.brainfuck'
  }
  {
    match: '\\-'
    name: 'support.function.arithmetic.subtract.brainfuck'
  }
  {
    match: '\\['
    name: 'keyword.control.repeat.start.brainfuck'
  }
  {
    match: '\\]'
    name: 'keyword.control.repeat.end.brainfuck'
  }
  {
    match: '\\,'
    name: 'string.input.brainfuck'
  }
  {
    match: '\\.'
    name: 'string.output.brainfuck'
  }
  {
    match: '^[^<>+\\-\\[\\],.]*$'
    name: 'comment.block.brainfuck'
  }
  {
    match: '[^<>+\\-\\[\\],.]+'
    name: 'comment.line.brainfuck'
  }
]
