'scopeName': 'source.brainfuck'
'fileTypes': [
  'bf'
  'brainfuck'
]
'name': 'Brainfuck'
'patterns': [
  # {
  #   'match': '\\[|\\]'
  #   'name': 'meta.brace.square.brainfuck'
  # }
  # {
  #   'match': '<|>'
  #   'name': 'keyword.other.brainfuck'
  # }
  {
    'match': '\\+|-'
    'name': 'keyword.operator.math.brainfuck'
  }
  # {
  #   'match': '\\.|,'
  #   'name': 'entity.brainfuck'
  # }
  {
    'match': '[^+<>\\-\\[\\].,]+'
    'name': 'comment.brainfuck'
  }
]
